@charset "UTF-8";

body {
	padding-top: 200px;
	text-align: center
}

#login {
	border: 1px solid rgb(153, 188, 232);
	width: 488px;
	height: 190px;
	margin: auto
}

#title {
	text-align: center;
	background-color: rgb(187, 209, 238);
	font-size: 14px;
	padding: 5px
}

#passwordTips {
	color: red;
	font-size: 12px;
}

#accountTips {
	color: red;
	font-size: 12px;
}

#submit {
	style ="font-family: arial;
	background-color: rgb(195, 215, 242);
	border: 1px solid rgb(155, 191, 230);
	width: 70px;
	height: 25px
}